body {
  display: flex;
  justify-content: center;
  margin: 0;
  overflow: hidden;
}

#root {
  background-image: linear-gradient(#755748, #ffc197);
  position: absolute;
  width: 750px;
  height: 750px;
  transform: scale(0.9);
  transform-origin: top center;
}